<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lista de nombres de invocador</title>
  </head>
  <body>
    <h1>Lista de nombres de invocador</h1>
    <ul>
      <li><%= summonerName1 %></li>
      <li><%= summonerName2 %></li>
      <li><%= summonerName3 %></li>
      <li><%= summonerName4 %></li>
      <li><%= summonerName5 %></li>
      <li><%= summonerName6 %></li>
      <li><%= summonerName7 %></li>
      <li><%= summonerName8 %></li>
      <li><%= summonerName9 %></li>
      <li><%= summonerName10 %></li>
    </ul>
  </body>
</html>